<%- include ../layouts/cabecera.ejs %> 

    <div class = 'container mt-4'>
        <h1>Resultados</h1>
        <div class="card border-secondary">
            <div class="card-body">
                <table id="resultados2" class="table table-bordered table-striped text-center mt-5">
                    <thead>
                        <tr class="bg-dark text-white">
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha de Consulta</th>
                            <th scope="col">Patologias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datos.forEach((cita) => { %> 
                        <tr>
                            <td><%= cita.nombre %></td>
                            <td><%= cita.fecha %></td>
                            <td><%= cita.patologias%></td>
                        </tr>
                        <% }) %> 
                    </tbody>
                </table>
                <a class="btn btn-primary" href="http:/citas/comparacionfecha/">Atrás</a>
            </div>
        </div>
        
    </div>
    <%- include ../layouts/pie.ejs %> 